.pnp.*

.DS_Store
.backups
.clj-kondo/.cache
.lsp/
.cpcache/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env

/src/reas/exp.clj
